*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar{
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box one */

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    height: 50px;
    width: 100px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}

/* box two */

.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 10px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 1px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* search */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 41px;
    border-radius: 4px;
    border: 2px solid transparent;
}

.nav-search:hover{
    border:2px solid #f3a847;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f3a847;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* account */

.nav-sign-in-first{
    font-size: 0.7rem;
}

.nav-sign-in-sec{
    font-size: 0.85rem;
    font-weight: 750;
}

/* return and orders */

.nav-return{
    font-size: 0.7rem;
}

.nav-order{
    font-size: 0.85rem;
    font-weight: 750;
}

/* cart */

.nav-cart{
    font: size 0.8rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}

.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    justify-content: space-evenly;
    align-items: center;
}

.pannel-options p{
    display: inline;
    margin-left: 12px;
}

.pannel-options{
    width: 75%;
    font-size: 0.8rem;
}

.pannel-deals{
    font-size: 0.9rem;
    font-weight: 800;
}

/* hero section */
 
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 500;
    width: 90%;
    border-radius: 2px;
    margin-bottom: 21px;
}

.hero-msg a{
    color: #007185;
    font-size: 0.85rem;
    font-weight: 500;
}

/* shop section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box{   
    height: 340px;
    width: 23%;
    background-color: white;
    margin-top: 10px;
    transition-duration: 0.3s;
}

.box-image{
    height: 270px;
    margin: 1.1rem 0px 0.5rem;
    background-size: cover;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
    font-size: 0.79rem;
}

.box h3{
    margin-top: 5px;
}

.box:hover{   
    height: 340px;
    width: 23%;
    background-color: rgba(255, 255, 255, 0.633);
    margin-top: 10px;
}
 
/* footer */

.footer-section{
    height: 45px;
    background-color: #374758;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;

}

.footer-section a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition-duration: 0.3s;
}

.footer-section a:hover{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.712)
}

/* foother second */

.foot-two-section{
    display: flex;
    height: 300px;
    background-color: #293644;
    align-items: center;
    justify-content: space-evenly;
}

.foot-two-section span{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    color: white;
}

.foot-two-list{
    list-style: none;
    font-size: 20px;
}

.foot-two-list a{
    color: rgba(245, 245, 245, 0.736);
    text-decoration: none;
}

.foot-two-list li{
    margin-top: 5px;
}

/* footer two */

.foot-three-section{
    height: 45px;
    background-color: #374758;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.foot-three-section img{
    height: 45px;
}





